<script>
  export let graph;

  function flip(edge) {
    const tmp = edge.id1;
    edge.id1 = edge.id2;
    edge.id2 = tmp;
    graph = graph; //to make it reactive
  }

  function getMiddle(edge) {
    return {
      x: graph.vertices[edge.id1].x / 2 + graph.vertices[edge.id2].x / 2,
      y: graph.vertices[edge.id1].y / 2 + graph.vertices[edge.id2].y / 2
    };
  }

  function getUnitVector(edge) {
    let v = {
      x: graph.vertices[edge.id2].x - graph.vertices[edge.id1].x,
      y: graph.vertices[edge.id2].y - graph.vertices[edge.id1].y
    };
    let dist = Math.sqrt(v.x * v.x + v.y * v.y);
    return { x: v.x / dist, y: v.y / dist };
  }

  const ARROW_SIZE = 16;
  const VERTEX_SIZE = 20;
  const BALL_SPACE = 4;

  function getMiddle2(edge) {
    let u = getUnitVector(edge);
    let m = getMiddle(edge);
    return { x: m.x + u.x * ARROW_SIZE, y: m.y + u.y * ARROW_SIZE };
  }

  function getArrowUp(edge) {
    let u = getUnitVector(edge);
    let m = getMiddle(edge);
    return { x: m.x - u.y * ARROW_SIZE, y: m.y + u.x * ARROW_SIZE };
  }

  function getArrowDown(edge) {
    let u = getUnitVector(edge);
    let m = getMiddle(edge);
    return { x: m.x + u.y * ARROW_SIZE, y: m.y - u.x * ARROW_SIZE };
  }

  function getEnergyBallPosition(edge) {
    let u = getUnitVector(edge);
    return {
      x: graph.vertices[edge.id2].x - VERTEX_SIZE * u.x,
      y: graph.vertices[edge.id2].y - VERTEX_SIZE * u.y
    };
  }

  function getEnergyBallPosition1(edge) {
    let u = getUnitVector(edge);
    return {
      x: graph.vertices[edge.id2].x - VERTEX_SIZE * u.x - BALL_SPACE * u.y,
      y: graph.vertices[edge.id2].y - VERTEX_SIZE * u.y + BALL_SPACE * u.x
    };
  }

  function getEnergyBallPosition2(edge) {
    let u = getUnitVector(edge);
    return {
      x: graph.vertices[edge.id2].x - VERTEX_SIZE * u.x + BALL_SPACE * u.y,
      y: graph.vertices[edge.id2].y - VERTEX_SIZE * u.y - BALL_SPACE * u.x
    };
  }

  function getEdgeFirstPosition1(edge) {
    let u = getUnitVector(edge);
    return {
      x: graph.vertices[edge.id1].x - BALL_SPACE * u.y,
      y: graph.vertices[edge.id1].y + BALL_SPACE * u.x
    };
  }

  function getEdgeFirstPosition2(edge) {
    let u = getUnitVector(edge);
    return {
      x: graph.vertices[edge.id1].x + BALL_SPACE * u.y,
      y: graph.vertices[edge.id1].y - BALL_SPACE * u.x
    };
  }

  function clickVertex(id) {
    // alert(id);
  }

  function getClassVertex(id) {
    if (graph.alive(id)) return "VertexAlive";
    else return "VertexDead";
  }
  function getClassEdge(edge) {
    if (edge.weight == 1) return "Edge1";
    else return "Edge2";
  }

  function getViewBoxObject() {
    let xmin = 100000;
    let xmax = 0;
    let ymin = 100000;
    let ymax = 0;

    for (let v of Object.values(graph.vertices)) {
      xmin = Math.min(v.x - VERTEX_SIZE, xmin);
      xmax = Math.max(v.x + VERTEX_SIZE, xmax);
      ymin = Math.min(v.y - VERTEX_SIZE, ymin);
      ymax = Math.max(v.y + VERTEX_SIZE, ymax);
    }

    for(let box of graph.boxes) {
      xmin = Math.min(box.x1 - VERTEX_SIZE, xmin);
      xmax = Math.max(box.x2 + VERTEX_SIZE, xmax);
      ymin = Math.min(box.y1 - VERTEX_SIZE, ymin);
      ymax = Math.max(box.y2 + VERTEX_SIZE, ymax);
    }

    const XMARGIN = 300;
    const YMARGIN = 200;
    xmax += XMARGIN;
    ymax += YMARGIN;

    return { xmin: xmin, ymin: ymin, xmax: xmax, ymax: ymax };
  }

  function getViewBox() {
    let viewBoxObject = getViewBoxObject();
    return (
      viewBoxObject.xmin +
      " " +
      viewBoxObject.ymin +
      " " +
      viewBoxObject.xmax +
      " " +
      viewBoxObject.ymax
    );
  }

  function getWidth() {
    let viewBoxObject = getViewBoxObject();
    return (viewBoxObject.xmax - viewBoxObject.xmin) / 1.5;
  }

  function getHeight() {
    let viewBoxObject = getViewBoxObject();
    return (viewBoxObject.ymax - viewBoxObject.ymin) / 1.5;
  }
</script>

<style>
  .EnergyBall {
    fill: #ffee00;
    stroke: rgb(0, 0, 0);
  }

  .VertexInvisible {
    fill: white;
    stroke: white;
  }

  .VertexAlive {
    fill: rgb(44, 222, 0);
    stroke: rgb(0, 0, 0);
  }

  .VertexDead {
    fill: rgb(192, 192, 192);
    stroke: rgb(128, 128, 110);
  }

  .TextDead {
    font-size: 32px;
    text-anchor: middle;
    alignment-baseline: middle;
    dominant-baseline: central;
  }

  .TextVertex {
    text-anchor: middle;
    alignment-baseline: middle;
    dominant-baseline: central;
  }

  .Edge1 {
    stroke: rgb(255, 96, 0);
    stroke-width: 5;
  }

  .FlippeableEdgeBackground1 {
    stroke: rgb(245, 206, 79);
    stroke-width: 16;
  }

  .FlippeableEdgeBackground2 {
    stroke: rgb(202, 248, 76);
    stroke-width: 32;
  }

  .Edge2 {
    stroke: rgb(64, 64, 255);
    stroke-width: 5;
  }

  .Edge2Back {
    stroke: rgb(128, 255, 255);
    stroke-width: 8;
  }

  .Box {
    fill: rgb(255, 255, 255);
  }

  .TextBox {
    font-size: 64px;
    text-anchor: middle;
    alignment-baseline: middle;
    dominant-baseline: central;
  }
</style>

<div>
  <svg width={getWidth()} height={getHeight()} viewBox={getViewBox()}>
    {#each graph.edges as edge, i}
      {#if graph.isFlippeable(edge)}
        <line
          class={'FlippeableEdgeBackground' + edge.weight}
          x1={graph.vertices[edge.id1].x}
          y1={graph.vertices[edge.id1].y}
          x2={graph.vertices[edge.id2].x}
          y2={graph.vertices[edge.id2].y}
          on:click={() => flip(edge)} />
      {/if}
      {#if edge.weight == 1}
        <line
          class={getClassEdge(edge)}
          x1={graph.vertices[edge.id1].x}
          y1={graph.vertices[edge.id1].y}
          x2={graph.vertices[edge.id2].x}
          y2={graph.vertices[edge.id2].y}
          on:click={() => flip(edge)} />
      {:else}
        <line
          class="Edge2Back"
          x1={graph.vertices[edge.id1].x}
          y1={graph.vertices[edge.id1].y}
          x2={graph.vertices[edge.id2].x}
          y2={graph.vertices[edge.id2].y}
          on:click={() => flip(edge)} />
        <line
          class={getClassEdge(edge)}
          x1={getEdgeFirstPosition1(edge).x}
          y1={getEdgeFirstPosition1(edge).y}
          x2={getEnergyBallPosition1(edge).x}
          y2={getEnergyBallPosition1(edge).y}
          on:click={() => flip(edge)} />
        <line
          class={getClassEdge(edge)}
          x1={getEdgeFirstPosition2(edge).x}
          y1={getEdgeFirstPosition2(edge).y}
          x2={getEnergyBallPosition2(edge).x}
          y2={getEnergyBallPosition2(edge).y}
          on:click={() => flip(edge)} />
      {/if}
      <line
        class={getClassEdge(edge)}
        x1={getMiddle2(edge).x}
        y1={getMiddle2(edge).y}
        x2={getArrowDown(edge).x}
        y2={getArrowDown(edge).y}
        on:click={() => flip(edge)} />
      <line
        class={getClassEdge(edge)}
        x1={getMiddle2(edge).x}
        y1={getMiddle2(edge).y}
        x2={getArrowUp(edge).x}
        y2={getArrowUp(edge).y}
        on:click={() => flip(edge)} />
    {/each}

    {#each Object.values(graph.vertices) as { id, x, y, visible, label, weight }, i}
      {#if visible}
        <circle
          class={getClassVertex(id)}
          cx={x}
          cy={y}
          r={(weight * VERTEX_SIZE) / 2}
          on:click={() => clickVertex(id)} />

        {#if !graph.alive(id)}
          <text class="TextDead" {x} {y}>☠</text>
        {/if}
      {:else}
        <circle
          class="VertexInvisible"
          cx={x}
          cy={y}
          r={VERTEX_SIZE}
          on:click={() => clickVertex(id)} />
      {/if}
      {#if label != undefined}
        <text class="TextVertex" {x} {y}>{label}</text>
      {/if}
    {/each}

    {#each graph.edges as edge, i}
      {#if edge.weight == 1}
        <circle
          class="EnergyBall"
          cx={getEnergyBallPosition(edge).x}
          cy={getEnergyBallPosition(edge).y}
          r="4" />
      {:else}
        <circle
          class="EnergyBall"
          cx={getEnergyBallPosition1(edge).x}
          cy={getEnergyBallPosition1(edge).y}
          r="4" />
        <circle
          class="EnergyBall"
          cx={getEnergyBallPosition2(edge).x}
          cy={getEnergyBallPosition2(edge).y}
          r="4" />
      {/if}
    {/each}

    {#each graph.boxes as { id, x1, y1, x2, y2 }}
      <rect class="Box" x={x1} y={y1} width={x2 - x1} height={y2 - y1} />
      <text class="BoxText" x={(x1 + x2) / 2} y={(y1 + y2) / 2}>{id}</text>
    {/each}
  </svg>
</div>
